<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Service Agreement</title>
    <script th:src="@{/js/showdown.min.js}"></script>
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
</head>
<input id="content" type="hidden"  th:value="${content}"/>
<div id="article"></div>
<script type="text/javascript">
    var content = $("#content").val();
    var converter = new showdown.Converter();
    var html_content  = converter.makeHtml(content);
    $("#article").html(html_content);
</script>
</html>