<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" th:href="@{/styles/page_bootstrap.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/styles/bootstrap3.css}" type="text/css">
    <script src="https://ttyq.mo9.com/static/js/jquery-3.1.1.min.js"></script>
    <script th:src="@{/js/page.js}"></script>
</head>

<body style="margin-right: 44px;">
<div align="right"><a href="./login">退出登录 </a></div>
<div class="row-fluid" align="center">
    <h2>渠道推广新用户统计表</h2>
    <div align="center" style="margin-top: 44px;"><button type="button" id="generate-excel" style="margin-bottom: 20px;"><i aria-hidden="true"></i>导出Excel</button></div>
    <div id="pageJsonContent">
        <table id="dataGridTableJson" class="table table-striped table-bordered table-hover table-condensed" style="text-align: center;" >
            <thead>
            <tr>
                <th>序号</th>
                <th>渠道名称</th>
                <th>子渠道</th>
                <th>注册用户数</th>
                <th>填写资料数</th>
                <th>借款数</th>
                <th>日期</th>
            </tr>
            </thead>
            <tbody id="page_content">
            </tbody>
        </table>
    </div>
</div>
<div id="page"></div>
</body>
<script type="text/javascript" src="https://cdn.bootcss.com/jszip/3.1.5/jszip.min.js"></script>
<script type="text/javascript" th:src="@{/js/FileSaver.js}"></script>
<script type="text/javascript" th:src="@{/js/excel-gen.js}"></script>
<script type="text/javascript">
  	$('#page').bPage({
	    url : './pageLoadJson',
	    asyncLoad : true,
	    asyncType : 'GET',
	    serverSidePage : false,
	    render : function(data){
	    if(data.code===-1){
	        window.location.href="./login";
	        return;
	    }
	    	var tb = $('#page_content');
	    	$(tb).empty();
	    	if(data && data.list && data.list.length > 0){
	    		$.each(data.list,function(i,row){
	    			var tr = $('<tr>');
	    			$(tr).append('<td>'+(i+1) +'</td>');
	    			$(tr).append('<td>'+row.source+'</td>');
	    			$(tr).append('<td>'+row.sub_source+'</td>');
	    			$(tr).append('<td>'+row.num+'</td>');
	    			$(tr).append('<td>'+row.audit_num+'</td>');
	    			if(!row.loan_num){
	    			    row.loan_num =0;
	    			}
	    			$(tr).append('<td>'+row.loan_num+'</td>');
	    			$(tr).append('<td>'+row.date+'</td>');
	    			$(tb).append(tr);
	    		});
	    	}else{
	    	    var tr = $('<tr>');
	    	    $(tr).append('<td colspan="7">暂无记录</td>');
	    	    $(tb).append(tr);
	    	}
	    excel = new ExcelGen({
        "src_id": "dataGridTableJson",
        "show_header": true
         });
	    }

	});
</script>
<script type="text/javascript">
    $(document).ready(function () {
    $("#generate-excel").click(function () {
        excel.generate();
    });
});
</script>
</html>