<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Thymeleaf Demo</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<script itemType="text/javascript">
    function display(orderId) {
        var plan= document.getElementById(orderId);
        if (plan.style.display == "none") {
            plan.setAttribute("style","display");
        } else {
            plan.setAttribute("style","display:none");
        }
    }
</script>
<style itemType="text/css">
    body{
        font-size:14px;
    }
    table{
        font-size:12px;
        empty-cells:show;
        border-collapse: collapse;
    }
    td{
        height:30px;
    }
    h1,h2,h3{
        font-size:25px;
        margin:0;
        padding:0;
    }
    .table{
        border:1px solid #cad9ea;
        color:#666;
    }
    .table th {
        background-repeat:repeat-x;
        height:30px;
    }
    .table td,.table th{
        border:1px solid #cad9ea;
        padding:0 1em 0;
    }
    .table tr.alter{
        background-color:#f5fafe;
    }
</style>
<body>
<br/>
<label>系统时钟：</label><input style="border: 0px;outline:none;" readonly="readonly" th:value="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd HH:mm:ss')}"/>
&nbsp;
<label th:if="${clock != null}" >用户时钟：</label><input style="border: 0px;outline:none;" readonly="readonly" th:if="${clock != null}" th:value="${#dates.format(clock.timeMillis(), 'yyyy-MM-dd HH:mm:ss')}"/>
&nbsp;
<label th:if="${clock != null}" >时钟倍速：</label><input style="border: 0px;outline:none;" readonly="readonly" th:if="${clock != null}" th:value="${clock.getSpeed()}"/>
&nbsp;
<label th:if="${user != null}" >用户状态：</label><input style="border: 0px;outline:none;" readonly="readonly" th:if="${user != null}" th:value="${user.status}"/>
&nbsp;
<label th:if="${user != null}" >还款日：</label><input style="border: 0px;outline:none;" readonly="readonly" th:if="${user != null}" th:value="${user.repaymentDay}"/>
&nbsp;
<label th:if="${shouldReserve != null}" >币种保留在贷本金：</label><input style="border: 0px;outline:none;" readonly="readonly" th:if="${shouldReserve != null}" th:value="${shouldReserve}"/>
<br/><br/>
<fieldset>
    <legend>功能</legend>
    <form method="post" action="#" th:action ="@{/simulator/loan}" >
        <table width="33%" align="left">
            <tbody>
            <input itemType="hidden" name="userCode" th:value="${user.userCode}"/>

            <tr>
                <td width="40%" align="right"><label>借贷币种：</label></td>
                <td><select name="loanCurrency">
                    <option value="LBA" >LBA</option>
                    <option value="BNB">BNB</option>
                    <option value="DAI">DAI</option>
                    <option value="USDT" >USDT</option>
                </select></td>
            </tr>

            <tr>
                <td width="40%" align="right"><label>锚定币种：</label></td>
                <td><select name="anchorCurrency">
                    <option value="USD" >USD</option>
                    <option value="LBA" >LBA</option>
                </select></td>
            </tr>

            <tr>
                <td width="40%" align="right"><label>锚定兑换率：</label></td>
                <td ><input itemType="text" name="anchorExchangeRate" value="0.1"/></td>
            </tr>

            <tr>
                <td width="40%" align="right"><label>借币数量：</label></td>
                <td ><input itemType="text" name="loanNumber" value="1000"/></td>
            </tr>

            <tr>
                <td width="40%" align="right"><label>借贷类型：</label></td>
                <td><select name="loanType">
                    <option value="MORTGAGE" >抵押贷款</option>
                    <option value="CREDIT">信用贷款</option>
                    <option value="CONSUME">信用消费</option>
                </select></td>
            </tr>

            <tr>
                <td width="40%" align="right"><label>借贷期限：</label></td>
                <td ><input itemType="text" name="loanTerm" value="30"/></td>
            </tr>

            <tr>
                <td width="40%" align="right"><label>借贷期限单位：</label></td>
                <td><select name="termUnit">
                    <option value="DAY" >天</option>
                    <option value="MONTH">月</option>
                    <option value="YEAR">年</option>
                </select></td>
            </tr>

            <tr>
                <td width="40%" align="right"><label>分期期数：</label></td>
                <td><input itemType="text" name="installmentPeriods" value="1"/></td>
            </tr>

            <tr>
                <td width="40%" align="right"><label>分期方式：</label></td>
                <td><select name="installmentMode">
                    <option value="FIXED_INSTALLMENT" >等额本息</option>
                    <option value="AVERAGE_CAPITAL">等额本金</option>
                </select></td>
            </tr>

            <tr>
                <td width="40%" align="right"><label>记账方式：</label></td>
                <td><select name="billMode">
                    <option value="BY_LOAN" >订单记账</option>
                    <option value="BY_BILL">账单记账</option>
                </select></td>
            </tr>

            <tr>
                <td width="40%" align="right"><label>利率：</label></td>
                <td ><input itemType="text" name="interestRate" value="0.00025"/></td>
            </tr>
            <tr>
                <td width="40%" align="right"><label>利率类型：</label></td>
                <td><select name="interestRateType">
                    <option value="DAILY">日利率</option>
                    <option value="MONTHLY">月利率</option>
                    <option value="ANNUAL" >年化利率</option>
                </select></td>
            </tr>

            <tr>
                <td width="40%" align="right"><label>服务费(借贷币种单位)：</label></td>
                <td ><input itemType="text" name="charge" value="50"/></td>
            </tr>

            <tr>
                <td width="40%" align="right"><label>还款宽限期：</label></td>
                <td ><input itemType="text" name="repayGraceDays" value="0"/></td>
            </tr>

            <tr>
                <td width="40%" align="right"><label>清偿宽限期：</label></td>
                <td ><input itemType="text" name="clearGraceDays" value="15"/></td>
            </tr>

            <tr>
                <td width="40%" align="right"><label>时区偏移量：</label></td>
                <td ><input itemType="text" name="timeZoneOffset" value="8"/></td>
            </tr>


            <tr><td width="40%" align="right" rowspan="2">
                <input itemType="submit" value="贷 款" />
            </td>
                <td> <input itemType="reset" value="重 置" />
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <form method="post" action="#" th:action ="@{/simulator/pay}" >
        <table width="33%" align="left">
            <tbody>
            <input itemType="hidden" name="userCode" th:value="${user.userCode}"/>
            <tr>
                <td width="40%" align="right"><label>支付币种：</label></td>
                <td><select name="payCurrency">
                    <option value="LBA" >LBA</option>
                    <option value="BNB">BNB</option>
                    <option value="DAI">DAI</option>
                    <option value="USDT" >USDT</option>
                </select></td>
            </tr>

            <tr>
                <td width="40%" align="right"><label>锚定币种：</label></td>
                <td><select name="anchorCurrency">
                    <option value="USD" >USD</option>
                    <option value="LBA" >LBA</option>
                </select></td>
            </tr>

            <tr>
                <td width="40%" align="right"><label>锚定兑换率：</label></td>
                <td ><input itemType="text" name="exchangeRate" value="0.1"/></td>
            </tr>

            <tr>
                <td width="40%" align="right"><label>支付数量：</label></td>
                <td><input itemType="text" name="applyNumber" /></td>
            </tr>

            <tr>
                <td width="40%" align="right"><label>种类：</label></td>
                <td>
                    <select name="payType">
                        <option value="REPAY_AS_PLAN" >按期还款</option>
                        <option value="REPAY_IN_ADVANCE" >提前还款</option>
                        <option value="WAVY_CLEAR" >波动清偿</option>
                        <option value="BROKE_CLEAR" >破产清偿</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td width="40%" align="right"><label>关联借贷订单号：</label></td>
                <td><input itemType="text" name="loanOrderId" /></td>
            </tr>

            <tr><td width="40%" align="right" rowspan="2">

            </td>
                <td> <input itemType="submit" value="还 款" />
                </td>
            </tr>
            </tbody>
        </table>
    </form>

</fieldset>
<br/>
<div>
    <!--<table width="100%" class="table" >-->
        <!--<tr class="alter">-->
            <!--<th>锚定币种</th>-->
            <!--<th>应还</th>-->
            <!--<th>本金</th>-->
            <!--<th>利息</th>-->
            <!--<th>罚息</th>-->
            <!--<th>手续费</th>-->
            <!--<th>全部还清</th>-->
        <!--</tr>-->
        <!--<tr th:if="${bill} eq 'null'">-->
            <!--<td th:text="${'&#45;&#45;'}"></td>-->
            <!--<td th:text="${0}"></td>-->
            <!--<td th:text="${0}"></td>-->
            <!--<td th:text="${0}"></td>-->
            <!--<td th:text="${0}"></td>-->
            <!--<td th:text="${0}"></td>-->
            <!--<td th:text="${0}"></td>-->
        <!--</tr>-->
        <!--<tr >-->
            <!--<td th:text="${bill.shouldPay()}"></td>-->
            <!--<td th:text="${bill.shouldPay()}"></td>-->
            <!--<td th:text="${bill.shouldPay()}"></td>-->
            <!--<td th:text="${bill.shouldPay()}"></td>-->
            <!--<td th:text="${bill.shouldPay()}"></td>-->
            <!--<td th:text="${bill.shouldPay()}"></td>-->
            <!--<td th:text="${bill.sum()}"></td>-->
        <!--</tr>-->
    <!--</table>-->
</div>
<br/><br/>
<div th:if="${not #lists.isEmpty(loanOrders)}">
    <table width="100%" class="table">
        <tr class="alter">
            <th>订单号</th>
            <th>借贷币种</th>
            <th>锚定币种</th>
            <th>锚定兑换率</th>
            <th>借贷数量</th>
            <th>放贷数量</th>
            <th>锚定数量</th>
            <th>借贷方式</th>
            <th>借贷期限</th>
            <th>分期期数</th>
            <th>还款方式</th>
            <th>利率</th>
            <th>服务费</th>
            <th>还款宽限期</th>
            <th>清偿宽限期</th>
            <th>订单状态</th>
            <th>放款时间</th>
            <th>操作</th>
        </tr>
        <tr th:if="${not #lists.isEmpty(loanOrders)}" th:each="loanOrder:${loanOrders}">
            <td th:text="${loanOrder.orderId}"></td>
            <td th:text="${loanOrder.loanCurrency}"></td>
            <td th:text="${loanOrder.anchorCurrency}"></td>
            <td th:text="${loanOrder.anchorExchangeRate}"></td>
            <td th:text="${loanOrder.loanNumber}"></td>
            <td th:text="${loanOrder.lentNumber}"></td>
            <td th:text="${loanOrder.anchorNumber}"></td>
            <td th:text="${loanOrder.itemType}"></td>
            <td th:text="${loanOrder.loanTerm() + ' ' + loanOrder.installmentTermUnit}"></td>
            <td th:text="${loanOrder.installments}"></td>
            <td th:text="${loanOrder.installmentMode}"></td>
            <td th:text="${loanOrder.interestRate + ' ' + loanOrder.interestRateType}"></td>
            <td th:text="${loanOrder.charge}"></td>
            <td th:text="${loanOrder.repayGraceDays}"></td>
            <td th:text="${loanOrder.clearGraceDays}"></td>
            <td th:text="${loanOrder.status}"></td>
            <td th:text="${#dates.format(loanOrder.lentTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:if="${loanOrder.status} ne 'LENT'">
                <a th:href="@{/simulator/lend(userCode=${loanOrder.ownerId},orderId=${loanOrder.orderId},lentNumber=${loanOrder.loanNumber})}">放款</a>
            </td>
        </tr>
    </table>
</div>
<br/><br/>
<div>
    <table width="100%" class="table" >
        <tr class="alter">
            <th>分期</th>
            <th>本金</th>
            <th>利息</th>
            <th>罚息</th>
            <th>服务费</th>
            <th>还款日</th>
        </tr>
        <tbody th:if="${not #maps.isEmpty(planBill)}" th:each="scheme:${planBill}">
            <tr>
                <td colspan="6" th:text="${scheme.key}"></td>
            </tr>
            <tr th:each="item:${scheme.value}">
                <td th:text="${item.key}"></td>
                <td th:if="${item.value['PRINCIPAL'] != null}" th:text="${item.value['PRINCIPAL'].number}"></td>
                <td th:if="${item.value['PRINCIPAL'] == null}"></td>
                <td th:if="${item.value['INTEREST'] != null}" th:text="${item.value['INTEREST'].number}"></td>
                <td th:if="${item.value['INTEREST'] == null}"></td>
                <td th:if="${item.value['PENALTY'] != null}" th:text="${item.value['PENALTY'].number}"></td>
                <td th:if="${item.value['PENALTY'] == null}"></td>
                <td th:if="${item.value['GAS_FEE'] != null}" th:text="${item.value['GAS_FEE'].number}"></td>
                <td th:if="${item.value['GAS_FEE'] == null}"></td>
                <td th:text="${#dates.format(item.value.repayDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </tbody>
    </table>
    <br/>
</div>
<br/>
<div th:if="${not #lists.isEmpty(payOrders)}">
    <table width="100%" class="table">
        <tr class="alter">
            <th>还款订单号</th>
            <th>还款币种</th>
            <th>锚定币种</th>
            <th>锚定兑换率</th>
            <th>计划支付数量</th>
            <th>支付成功数量</th>
            <th>锚定数量</th>
            <th>已入账数量</th>
            <th>状态</th>
            <th>支付成功时间</th>
            <th>入账结束时间</th>
            <th>关联借贷订单</th>
        </tr>
        <tr th:each="payOrder:${payOrders}">
            <td th:text="${payOrder.orderId}"></td>
            <td th:text="${payOrder.payCurrency}"></td>
            <td th:text="${payOrder.anchorCurrency}"></td>
            <td th:text="${payOrder.exchangeRate}"></td>
            <td th:text="${payOrder.applyNumber}"></td>

            <td th:text="${payOrder.payNumber}"></td>
            <td th:text="${payOrder.anchorNumber}"></td>
            <td th:text="${payOrder.entryNumber}"></td>

            <td th:text="${#dates.format(payOrder.payTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${#dates.format(payOrder.entryOverTime, 'yyyy-MM-dd HH:mm:ss')}"></td>

            <td th:text="${payOrder.paySchedule}"></td>
        </tr>
    </table>
</div>
<br/>

    <fieldset>
        <legend>波动清偿预览</legend>
        <form method="post">
            <table width="50%" align="left">
                <tbody>
                <input itemType="hidden" name="userCode" id="userCode" th:value="${user.userCode}"/>
                <tr>
                    <td width="40%" align="right"><label for="collateralAmount">抵押物价值：</label></td>
                    <td ><input itemType="text" id="collateralAmount" name="collateralAmount" value="400"/></td>
                </tr>
                <tr>
                    <td width="40%" align="right"><label for="ctl">目标ctl：</label></td>
                    <td><input itemType="text" id="ctl" name="ctl" value="1.9"/></td>
                </tr>
                <tr>
                    <td width="40%" align="right"><label>币种：</label></td>
                    <td><select id="currency" name="currency">
                        <option value="USD">USD</option>
                        <option value="USDT">USDT</option>
                        <option value="DAI">DAI</option>
                    </select></td>
                </tr>
                <tr>
                    <td width="40%" align="right"><label for="riskCoefficient">清偿系数：</label></td>
                    <td><input itemType="text" id="riskCoefficient" name="riskCoefficient" value="0.01"/></td>
                </tr>
                <tr><td width="40%" align="right" rowspan="2">
                    <input id = "calPrinciple" itemType="button" value="确 定" />
                </td>
                    <td> <input itemType="reset" value="重 置" />
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <form method="post">
            <table width="50%" align="left">
                <tbody>
                <input itemType="hidden" name="userCode" th:value="${user.userCode}"/>
                <tr>
                    <td width="40%" align="right"><label >清偿的本金：</label></td>
                    <td><input itemType="text" id="principal" /></td>
                </tr>
                <tr>
                    <td width="40%" align="right"><label >总清偿额：</label></td>
                    <td><input itemType="text" id="total" /></td>
                </tr>
                <tr>
                    <td width="40%" align="right"><label>风控清偿罚息：</label></td>
                    <td><input itemType="text" id="riskPenalty"/></td>
                </tr>
                <tr>
                    <td width="40%" align="right"><label id="riskCoefficientMessage"></label></td>
                </tr>
                </tbody>
            </table>
        </form>
    </fieldset>
<br/><br/>

<form method="post" action="#" th:action ="@{/simulator/clock/time}">
    <input itemType="hidden" name="userCode" th:value="${user.userCode}"/>
    <input itemType="datetime-local" name="date" th:value="${#dates.format(clock.timeMillis(), 'yyyy-MM-dd') + 'T' + #dates.format(clock.timeMillis(), 'HH:mm') + ':59'}"/>
    <input itemType="submit" value="设定时钟"/> 说明：设定时间会清空所有贷款订单和还款订单，请预先规划测试序列
</form>
<br/>
<form method="post" action="#" th:action ="@{/simulator/clock/speed}">
    <input itemType="hidden" name="userCode" th:value="${user.userCode}"/>
    <input itemType="number" max="57600" name="speed" th:value="${clock.speed}"/>
    <input itemType="submit" value="设定倍速" /> 说明：倍速上限设定为系统时钟1秒，用户时钟2小时
</form>
<br/>
<form method="post" action="#" th:action ="@{/simulator/clock/activate}">
    <input itemType="hidden" name="userCode" th:value="${user.userCode}"/>
    <input readonly="readonly" itemType="text" name="activate" th:value="${clock.clockIsPaused()}"/>
    <input  itemType="submit" value="启动" /> 说明：输入框显示false时按一下是启动时钟
</form>
<br/>
<form method="post" action="#" th:action ="@{/simulator/clock/load}">
    <input itemType="hidden" name="userCode" th:value="${user.userCode}"/>
    <input readonly="readonly" itemType="text" name="load" th:value="${!clock.clockIsLoaded()}"/>
    <input  itemType="submit" value="载入" /> 说明：输入框显示true时按一下是载入用户时钟
</form>
<br/>
</body>
<script itemType="application/javascript">
    jQuery(function ($) {
        $("#calPrinciple").click(function () {
            $.get("/gluttonApi/loan/cal_liquidation_principle",
                {
                    userCode: $("#userCode").val(),
                    collateralAmount: $("#collateralAmount").val(),
                    ctl: $("#ctl").val(),
                    currency: $("#currency").val(),
                    riskCoefficient: $("#riskCoefficient").val()
                }, function(data){
                    console.log("返回结果: " + JSON.stringify(data));
                    if (data.code === 0) {
                        $("#principal").val(data.data.principal);
                        $("#total").val(data.data.total);
                        $("#riskPenalty").val(data.data.riskPenalty);
                    } else {
                        $("#riskCoefficientMessage").text(data.message);
                    }
            });
        });
    });
</script>
</html>