<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./styles/normalize.css">
  <link rel="stylesheet" href="./styles/card_adder.css">
</head>

<body>
  <div class="wrapper">
    <div class="top-bar">
      <div class="logo-go-back"></div>
      <div class="text">添加银行卡</div>
    </div>
    <form action="">
      <div class="form-item">
        <div class="text">持卡人姓名</div>
        <input type="text" placeholder="请输入">
      </div>
      <div class="form-item">
        <div class="text">身份证号</div>
        <input type="text" placeholder="请输入">
      </div>
      <div class="form-item">
        <div class="text">银行卡号</div>
        <input type="text" placeholder="请输入">
      </div>
      <div class="form-item">
        <div class="text">银行预留手机号</div>
        <input type="text" placeholder="请输入">
      </div>

    </form>
    <div class="btn-part">
      <div class="btn btn-submit">提交</div>
    </div>
  </div>
</body>

</html>