<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" th:href="@{/styles/normalize.css}">
  <link rel="stylesheet" th:href="@{/styles/download_guide.css}">
  <title>Document</title>
</head>

<body>
  <div class="wrapper">
    <div class="mask" id='mask'></div>
    <div class="button" id='btn'></div>
  </div>
</body>
<script>
  function main() {
    var mask = document.getElementById('mask')
    var btn = document.getElementById('btn')
    mask.onclick = function () {
      mask.style.display = 'none'
    }
    btn.onclick = function () {
      mask.style.display = 'block'
    }
    console.log('ready')
  }
  window.onload = main
  // main()
</script>

</html>